body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(200, 200, 200);
    line-height: 1.5;
    color: #282425;
}

h1 {
    color:dimgrey;
    text-align: center;
    font-size: 80px;  
   }

h2 {
    color:gray;
    font-size: 40px;
}

li {
    font-style: italic;
}

.omne,
.vzdelani,
.odborneznalosti,
.ridickyprukaz,
.jine {
    background-color: rgb(195, 195, 195);
}

.paticka {
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 15%;
}

.hlavicka {
    padding: 20px 0;
   }

img {
    width: 13%;
    float: right;
    padding: 50px 10%;
}

.jinetext {
    font-weight: bold;
}

.nazevcertifikatu {
    font-weight: bold;
}

table {
    border-spacing: 50px;
}

td {
    padding: 10px 0;
}

section {
    padding: 50px 15%;
}